html {
  scroll-behavior: smooth;
}

.news-section {
  padding: 6rem 20rem 0rem 20rem;
}

.news-section p {
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
}

.center {
  align-items: center;
  display: flex;
  padding-left: 650px;
  padding-top: 50px;
}

.a {
  padding: 20px;
}

.h3 {
  padding: 80px 0px 20px 20px;
  text-align: left;
}

.card-group {
  margin: 20px;
}
